.App {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.timer {
  width: 300px;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 10px;
}

.display {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.time {
  font-size: 40px;
  color: brown;
  padding-right: 3px;
  margin: 0;
}

.buttonsWrapper {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 3px;
}

.start, .wait {
  padding: 5px 10px;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #FF9800;
  color: aliceblue;
  border-radius: 5px;
}

.start:hover, .wait:hover {
  cursor: pointer;
  color: cornflowerblue;
  background-color: aliceblue;
}